*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.message {
    position: sticky;
    top: 40px;
    margin: 0 auto;
    max-width: 800px;
    background-color:#005B49;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
   border-radius: 50px;
}
.message span {
    font-size: 2rem;
    color:#F7F2CB;
}

.message i {
    cursor: pointer;
    color: #F7F2CB;
    font-size: 2.5rem;
}

.message i:hover {
    transform: rotate(90deg);
}
.container{
    background-color:#F7F2CB;
    width: 800px;
    min-height: 500px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    padding: 40px 30px;
    margin:100px auto;
 ;
    
}
.container .login-text {
    color: #005B49;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}
.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-email .input-group input,.container .login-email .input-group select{
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}
.container .login-email .input-group input:focus,
.container .login-email .input-group input:valid ,
.container .login-email .input-group select:focus{
    border-color: #005B49;
}

.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #005B49;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #005B49;
}

.login-register-text {
    color: #111;
    font-weight: 600;
}

.login-register-text a {
    text-decoration: none;
    color: #005B49;
}

